name: Build Wheels

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

env:
  UV_VERSION: 0.8.22

jobs:
  build-wheels:
    name: Build wheels for ${{ matrix.PYTHON_VERSION }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba  # v6.3.1
        with:
          version: "${{ env.UV_VERSION }}"
          python-version: "${{ matrix.PYTHON_VERSION }}"
          enable-cache: 'true'
          cache-suffix: "${{ matrix.PYTHON_VERSION }}"

      - name: Build wheels
        run: |
          uv build --wheel -o wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: fgpyo-wheels-${{ matrix.PYTHON_VERSION }}
          path: ./wheelhouse/fgpyo*.whl
          if-no-files-found: error
